/* app css stylesheet */

body {
    margin-top: 75px;
}

.item-price {
    color:#3a1;
}

.thumbnail {
    height: 250px;
    padding: 10px;
}
.item-description {
    display: block;
    height: 36px;
}
.item-title {
    text-align: center;
}
.item-description {
    font-size: 14px;
}
.btn-add-remove {
    margin-bottom: 15px;
}
.cart-overall-list {
	margin-bottom: 10px;
}